.contact_form
{
    position: relative;
    top: 20px;
    background: rgba(0,0,0,0.6);
    box-shadow: 0px 0px 10px 3px grey;
    font-family: 'Lobster','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h2
{
    position: relative;
    color: rgba(192, 189, 189, 0.8);
}
address, p
{
    font-family: 'roboto';
    position: relative;
    color: rgba(192, 189, 189, 0.8);
}
hr
{
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    height: 1px;
}
h1
{
    text-align: center;
    color: rgba(192, 189, 189, 0.9);
    word-spacing: 4px;
}
label
{
    color: rgba(192, 189, 189, 0.8);
    word-spacing: 2px;
    font-family: 'roboto';
}
