<div class="container contact_form animated bounceInLeft">
  <form [formGroup]="contentForm" (ngSubmit)="onSaveContentForm(form)" #form="ngForm" >
    <h1>Laissez-moi un message</h1>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-4 address">
        <h2><strong>Mes coordonnées</strong></h2>
        <h4>Philippe Chamard</h4>
        <p><strong>Développer Web Freelance</strong></p>
        <address><i class="fa fa-road"></i>  78100 Saint-Germain En Laye </address>
        <p><i class="fa fa-envelope"></i>  philippe.chamard78@gmail.com</p>
        <p><i class="fa fa-phone"></i> 06.88.95.18.49</p>
        <div class="col-md-10 address" id="mailOk" *ngIf="isAvalaible">
          <p class="message_confirm">Votre message a bien été envoyé!</p>
          <p class="message_confirm">Je vous répondrai dans les plus brefs délais.</p>
          <p class="message_confirm">A bientôt</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <div class="row">
              <div class="col-md-6">
              <label for="name">Votre Nom</label>
              <input type="text" class="form-control" formControlName="name" name="name" id="name">
            </div>
            <div class="col-md-6">
              <label for="society">Votre Société</label>
              <input type="text" class="form-control" formControlName="society" name="society">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="mail">Votre Email</label>
          <input type="email" class="form-control" formControlName="mail" ngModel [email]="true" name="mail">
        </div>
        <div class="form-group">
          <label for="suject">Sujet</label>
          <input type="text" class="form-control" formControlName="suject" name="suject">
        </div>
        <div class="form-group">
          <label for="message">Votre Message</label>
          <textarea class="form-control" formControlName="message" rows="9" name="message"></textarea>
        </div>
        <div class="row justify-content-center">
          <button class="btn btn-outline-info btn-lg z-depth-5" [disabled]="contentForm.invalid" type="submit" (click)="onSaveContentForm()" id="send">Envoyer</button>
        </div>
      </div>
    </div>
  </form>
</div>