@import "./src/styles.scss";

.contact_form
{
    position: relative;
    top: 120px;
    background: rgba(0,0,0,0.6);
    box-shadow: 0px 0px 10px 3px grey;
    font-family: $font_lobster;
    padding-bottom: 7px;
    border-radius: 8px;
}
h2
{
    position: relative;
    color: $color_text;
}
address, p
{
    position: relative;
    font-family: $font_roboto;
    color: $color_text;
}
.message_confirm
{
    position: relative;
    font-family: $font_roboto;
    color: $color_text;
    font-size: 1.6em;
}
hr
{
    background-color: rgba(255, 255, 255, 0.4);
}
h1
{
    text-align: center;
    color: $color_text;
    word-spacing: 4px;
}
label
{
    color: $color_text;
    word-spacing: 2px;
    font-family: $font_roboto;
}
h4
{
    font-family: $font_roboto;
    font-size: 1.2em;
    font-weight: 700;
    color: $color_text;
}
#mailOk p
{
    top: 50px;
    position: relative;
    font-family: $font_roboto;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
