@import "./src/styles.scss";

.container
{
    font-family: $font_lobster;
    margin: 120px;
}
h1
{
    position: relative;
    color: white;
    word-spacing: 2.5px;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 4px;
}
h3
{
    letter-spacing: 4px;
    font-size: 2em;
    word-spacing: 1px;
}
#link
{
    top: 50px;
}
img
{
    position: absolute;
}
a
{
    font-family: $font_roboto;
    position: relative;
    margin: 10px;
    top: 0;
    box-shadow: 0 0 20px rgba(176,255,95,.3),
                0 0 40px rgba(176,255,95,.5),
                0 0 60px rgba(176,255,95,.7),
                0 0 80px rgba(176,255,95,0.8);
    transition: .3s all ease-in-out;
}
a:hover
{
    letter-spacing: 5px;
    box-shadow: 0 0 0 30px rgba(176,255,95,.1),
                0 0 0 60px rgba(176,255,95,.1),
                0 0 0 120px rgba(176,255,95,.1),
                0 0 0 240px rgba(176,255,95,.1),
                0 0 0 480px rgba(176,255,95,.1),
                0 0 0 960px rgba(176,255,95,.1),
                0 0 0 1920px rgba(176,255,95,.1);
}
@media screen and (max-width: 1687px) {

    img
    {
        display: none;
    }
    
}
@media screen and (min-width: 360px) and (max-width: 633px) {

    .container
    {
        margin: 0;
    }
    #text_homepage
    {
        margin-top: 40%;
        font-size: 0.7em;
    }
    .btn
    {
        font-size: 0.7em;
        top: -65%;
        left: -5%;
        padding: 15px;
    }
    strong
    {
        font-size: 2.5em;
        color: rgb(46, 45, 45);
        font-style: italic;
        text-shadow: 2px 2px 8px #FF0000;
    }
    
}
@media only screen and (max-width: 359px) {

    #text_homepage
    {
        margin-top: 38%;
        margin-left: -10%;
        font-size: 0.5em;
    }
    .btn
    {
        font-size: 0.7em;
        top: -70%;
        left: -5%;
        padding: 15px;
    }
    strong
    {
        font-size: 2.5em;
        color: rgb(46, 45, 45);
        font-style: italic;
        text-shadow: 2px 2px 8px #FF0000;
    }
    .container
    {
        margin: 0;
    }

}