@import "./src/styles.scss";

#navBar
{
    height: 95px;
    width: 100%;
    background-color: rgba(5, 77, 140, 0.644);
    font-size: 1.2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.452);
    font-family: $font_roboto;
}
nav a, ul li a, .navbar-text
{
    color: rgba(255,255,255, 0.90);
    word-spacing: 3.5px;
}
ul li a:hover
{
    color: rgba(0,0,0,0.8);
}
#title_navbar
{
    color: rgba(0,0,0,0.8);
    text-shadow: 4px 4px 1px rgba(54, 54, 54, 0.9);
    font-style: italic;
    font-weight: 900;
}
#title_navbar:hover
{
    color: rgba(255,255,255, 0.90);
}
/* Le lien Github */
#forkMe
{
    position: relative;
    top: 20px;
    right: -15px;
    border: 0;
    height: 135px;
}
#navbarToggleExternalContent
{
    position: relative;
    top: 15px;
}
/* Pour la navbar minifiée */
ul
{
    position: relative;
    z-index: 1000;
    list-style-type: none;
}
li.nav-item.active
{
    position: relative;
    z-index: 1000;
}
a:hover
{
    text-decoration: none;
}
button
{
    background-color: rgba(98, 165, 223, 0.781);
}

@media only screen and (min-width: 316px) and (max-width: 1024px) {

    #navbarText
    {
        margin-left: 115px;
        display: block;
        position: absolute;
    }
    #title_navbar
    {
        font-size: 1em;
        margin-left: -20%;
    }
    #navbar
    {
        display: block;
    }
    #navbarText > ul > li, img, #myName
    {
        display: none;
    }
    #navbarToggleExternalContent
    {
        top: 95px;
    }
}
@media only screen and (min-width: 280px) and (max-width: 315px) {

    #title_navbar
    {
        font-size: 0.8em;
        margin-left: -15%;
    }
    #navbarToggleExternalContent
    {
        top: 95px;

    }
    ul > li > a
    {
        margin-left: -15%;
    }
}


