<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 fixed-bottom" id="pied_page">© 2018 Copyright:
    <a href="https://philippe-chamard.fr"> <span id="myWebSite"><strong>philippe-chamard.fr</strong></span></a>
    <span>
      <a href="https://www.linkedin.com/in/philippe-chamard">
        <i class="fab fa-linkedin fa-fw fa-2x"></i>
      </a>
    </span>
    <div class="row" >
      <div class="col">
        <h6 class="text-left" id="legality"><a routerLink="content/legality">Mentions légales</a></h6>
      </div>

      <div class="col">
        <h6 class="text-right" id="privacy"><a routerLink="content/privacy">Politique de confidentialité</a></h6>
      </div>
      
    </div>
    


  </div>
  
  <!-- Copyright -->

</footer>
<!-- Footer -->