footer
{
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #332958;
    text-align: center;
    color: lightgrey;
    padding: 0;
   
}
.footer-margin
{
    display: block;
}