<!-- Footer -->
<footer class="page-footer font-small">

  <div class="container-fluid text-center py-3 fixed-bottom" id="pied_page">
    <div id="copyright">
      © 2018 Copyright:
      <span id="myWebSite"><strong>philippe-chamard.fr</strong></span>
      <span id="linkedin">
        <a href="https://www.linkedin.com/in/philippe-chamard">
          <i class="fab fa-linkedin fa-fw fa-2x"></i>
        </a>
      </span>
    </div>
    <div class="row" >
      <div class="col">
        <h6 class="text-left" id="legality"><a routerLink="content/legality">Mentions légales</a></h6>
      </div>

      <div class="col">
        <h6 class="text-right" id="privacy"><a routerLink="content/privacy">Politique de confidentialité</a></h6>
      </div>
      
    </div>
  </div>

</footer>
