<div class="container-fluid">
  <div class="jumbotron z-depth-5">
    <h1 class="h1-responsive">Politique de confidentialité</h1>
    <hr class="my-3">
    <p>
      Je m'engage à respecter la confidentialité des renseignements personnels que je collecte. 
    </p>
    <h4 class="h4-responsive">Collecte des renseignements personnels</h4>
    <hr class="my-1">
    <p>
      Je collecte les renseignements suivants :
    </p>
    <ul>
      <li>Nom</li>
      <li>Prénom</li>
      <li>Nom de la société (pour les professionnels)</li>
      <li>Adresse électronique</li>
      <li>Contenu du message</li>
    </ul>
    <p>
    Ces renseignements sont collectés à travers un formulaire qui fait le lien intéractif entre vous et <strong>mon site web : <em>philippe-chamard.fr</em></strong>
    </p>
    <h4 class="h4-responsive">Droit d'opposition et de retrait</h4>
    <hr class="my-1">
    <p>
      Je m'engage à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels.
    </p>
    <p>
      Le droit d'opposition s'entend comme étant la possibilité offerte aux internaute de refuser que leurs renseignements personnels soient utilisés à certaines fins commerciales.
    </p>
    <p>
      Le droit de retrait s'entend comme étant la possibilité offerte aux internautes de demander à ce que leurs renseignements ne figurent plus, par exemple, dans une liste de diffusion.
    </p>
    <p>
      Pour exercer vos droits, vous pouvez:
    </p>
    <ul>
      <li>m'écrire via mon adresse électronique: philippe.chamard78@gmail.com</li>
      <li>me téléphoner au 06.88.95.18.49</li>
      <li>me contacter via mon formulaire: <a routerLink="content/form"><strong>Contactez-moi</strong></a></li>
    </ul>
    <h4 class="h4-responsive">Droit d'accès</h4>
    <hr class="my-1">
    <p>
      Je m'engage à reconnaître le droit d'accès et de rectification aux personnes concernées désireuses de consulter, modifier ou de radier les informations les concernant.
      L'exercice de ce droit se fera via les mêmes voies de communications citées au chapître précédent.
    </p>
    <h4 class="h4-responsive">Sécurité</h4>
    <hr class="my-1">
    <p>
      Les renseignements personnels que je collecte sont conservés dans un environnement sécurisé. Les personnes travaillant pour moi sont tenues de respecter la confidentialité de vos informations.
      Pour assurer la sécurité de vos renseignements personnels, j'ai recours aux mesures suivantes:
    </p>
    <ul>
      <li>
        Protocole SLL
      </li>
      <li>
        Gestion des accès - personne autorisée
      </li>
      <li>
        Sauvegarde informatique
      </li>
      <li>  
        Identifiant / mot de passe
      </li>
    </ul>
    <p>
      Je m'engage à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d'assurer la confidentialité de vos renseignements. Toutefois, comme aucun mécanisme n'offre une sécurité maximale, une part de risque est toujours présente lorsque l'on utilise internet pour transmettre des renseignements personnels.
    </p>
      
            
  </div>
        
</div>
  
  