<div class="container-fluid">
    <div class="jumbotron z-depth-5">
      <h1 class="h1-responsive">Mentions légales</h1>
      <p>
        Le site www.philippe-chamard.fr est la propriété et est édité par Philippe Chamard.
      </p>
      <p>
        78100 Saint-Germain En Laye
      </p>
      <p>
        Téléphone: 06.88.95.18.49
      </p>
      <p>
        Email: philippe.chamard78@gmail.com
      </p>
      <p>
        Numéro RCS: en cours
      </p>
      <p>
        Hébergeur: Firebase, 188 King ST, San Francisco, CA 94107, United States, https://firebase.google.com
      </p>
      <hr class="my-3">
      <p>
        Je m'engage à respecter la confidentialité des renseignements personnels que je collecte. 
      </p>
      <h4 class="h4-responsive">Droits d'auteur</h4>
      <hr class="my-1">
      <p>
        Tous les éléments du site <strong>www.philippe-chamard.fr</strong>, y compris les photos, logos, dessins et modèles, qu’ils soient visuels ou sonores, sont protégés par le droit d’auteur.
      </p>
      <p>
        Ainsi, aucun des documents provenant du site <strong>www.philippe-chamard.fr</strong> ne peut être copié, téléchargé, posté, reproduit, republié, transmis ou distribué d’aucune manière que ce soit.
      </p>
      <p>
        L’utilisateur qui dispose d’un site Internet et qui désire placer, pour un usage personnel ou commercial, sur son site un lien renvoyant directement à la page d’accueil du site <strong>www.philippe-chamard.fr</strong> ou une autre page du site, doit obligatoirement me demander l’autorisation sous peine de poursuites. En revanche, tout lien hypertexte renvoyant au site de <strong>www.philippe-chamard.fr</strong> et utilisant la technique du framing ou du in-line linking est formellement interdit, sous peine de poursuites.
      </p>
      <h5 class="h5-responsive">Marques</h5>
      <p>
        Les noms de produits ou d’entreprises présentent sur <strong>www.philippe-chamard.fr</strong> peuvent être des marques commerciales ou marques déposées appartenant à des tiers et protégées par le droit de la propriété intellectuelle.
      </p>
      <h4 class="h4-responsive">Conditions d'utilisation du site <strong>www.philippe-chamard.fr</strong></h4>
      <hr class="my-1">
      <h5 class="h5-responsive">Droit applicable:</h5>
      <p>
        Les conditions d’utilisation du site <strong>www.philippe-chamard.fr</strong> sont soumises au droit français. Ce site est conforme à la législation française, et en aucun cas, je ne donne de garantie de conformité à la législation locale qui vous serait applicable, dès lors que vous accédez au site à partir d’un autre pays.
      </p>
      <h5 class="h5-responsive">Responsabilité:</h5>
      <p>
        Je ne peut être tenu pour responsable des dommages de toute nature qui pourraient résulter d’une mauvaise utilisation des articles livrés au Client.
      </p>
      <p>
        Je ne peut être tenu pour responsable des éventuelles modifications apportées par les fabricants et / ou les fournisseurs dans la composition des articles vendus sur le site <strong>www.philippe-chamard.fr</strong>.
      </p>
      <p>
        En tout état de cause, ma responsabilité sera limitée au montant de la commande.
      </p>
      <p>
        Ma responsabilité saurait par ailleurs être engagée pour tous les inconvénients ou dommages inhérents à l’utilisation du réseau Internet, notamment une rupture de service, une intrusion extérieure ou la présence de virus informatiques
      </p>
      <p>
        Pour toute question complémentaire, contactez-moi :
        Par téléphone : 06.88.95.18.49
      </p>
      
        
              
    </div>
          
  </div>
    
    