@import "./src/styles.scss";

.jumbotron
{
    position: relative;
    top: 50px;
    margin: 5%;
    height: 100%;
    background: rgba(170, 168, 168, 0.301);
    color: rgba(255, 255, 255, 0.973);
    font-family: $font_roboto;
    border-radius: 8px;
    padding-bottom: 15px;
    animation: bounceInRight 2s;
}
h1
{
    font-family: $font_lobster;
    animation: bounceInRight 2s;
    letter-spacing: 1.5px;
}
.my-3
{
    background-color: rgba(207, 204, 204, 0.808);
}
.card-title, .card-title-back
{
    color: rgb(65, 63, 63);
    font-family:$font_lobster;
}
p
{
    animation-duration: 1s;
    animation-name: slidein
}
  
@keyframes slidein
{
    from {
        margin-left: 100%;
        width: 300%; 
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
h5
{
    margin-top: -50px;
}
span
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(65, 63, 63);
}
.first
{
    position: relative;
    top: -50%;
    left: 70%;
    transform: translate(-50%);
}
#cogs_title
{
    position: relative;
    top: -50%;
    left: 70%;
    transform: translate(-50%);
}

.second
{
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card .card-body
{
    position: relative;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
    background-color: rgba(175, 174, 174, 0.048);
}
.card .card_front
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}
.card:hover .card-body .card_front
{
    transform: rotateX(-180deg);
}
.card .card-body .card_back
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}
.card:hover .card-body .card_back
{
    transform: rotateX(0deg);
}
@media only screen and (min-width: 1401px) and (max-width: 2200px)
{
    .first
    {
        position: relative;
        top: 15px;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    #cogs_title
    {
        position: relative;
        top: 15px;
        left: 75%;
        transform: translate(-50%, -50%);
    }
    #cogs
    {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #cogs_title
    {
        position: relative;
        top: 5px;
        left: 50%;
        transform: translate(-60%, -50%);
    }
    .card-title
    {
        position: relative;
        top: 5px;
        left: 50%;
        transform: translate(-60%, -50%);
        text-align: center;
    }
    .card-title-back
    {
        text-align: center;
    }
}
@media only screen and (min-width: 1347px) and (max-width: 1400px)
{
    .first
    {
        position: relative;
        top: 15px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #cogs_title
    {
        position: relative;
        top: 15px;
        left: 75%;
        transform: translate(-50%, -50%);
    }
    #cogs
    {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1, p
    {
        text-align: center;
    }
    .card-title-back
    {
        text-align: center;
    }
}
@media only screen and (min-width: 917px) and (max-width: 1346px)
{
    .jumbotron
    {
        top: 70px;
    }
    #cogs
    {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #cogs_title
    {
        position: relative;
        top: 5px;
        left: 50%;
        transform: translate(-67%, -50%);
    }
    .card-title
    {
        position: relative;
        top: 20px;
        left: 50%;
        transform: translate(-70%, -50%);
        text-align: center;
    }
    .card-title-back
    {
        text-align: center;
    }
    h1, p
    {
        text-align: center;
    }
}
@media only screen and (min-width: 723px) and (max-width: 916px)
{ 
    .jumbotron
    {
        top: 70px;
    }
    #cogs_title
    {
        position: relative;
        top: 5px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .first
    {
        position: relative;
        top: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #cogs
    {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card-title
    {
        font-size: 1.6em;
        text-align: center;
    }
    .card-title-back
    {
        text-align: center;
    }
    h1, p
    {
        text-align: center;
    }
    
}
@media only screen and (min-width: 574px) and (max-width: 722px)
{  
    .jumbotron
    {
        top: 102px;
    }
    .first
    {
        position: relative;
        top: 55px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1, p
    {
        text-align: center;
    }
    .card-title
    {
        position: relative;
        top: 130px;
        left: 50%;
        transform: translate(-77%, -50%);
        text-align: center;
    }
    .card-title-back
    {
        text-align: center;
    }
}
@media only screen and (max-width: 573px)
{ 
    .jumbotron
    {
        top: 100px;
    }
    h1, p
    {
        text-align: center;
    }
    .first
    {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-23%, -50%);
    }
    #cogs_title
    {
        position: relative;
        top: 15px;
        left: 50%;
        transform: translate(-77%, -50%);
    }
    #cogs
    {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card-title
    {
        position: relative;
        top: 50px;
        left: 50%;
        transform: translate(-77%, -50%);
        text-align: center;
    }
    .card-title-back
    {
        text-align: center;
    }
    
}