<div class="container-fluid">
  <div class="jumbotron z-depth-5">
    <h1 class="h1-responsive">Parlons de votre projet !</h1>
    <hr class="my-3">
    <p>
      Un<strong> site internet</strong>, c’est un formidable outil de communication. A condition qu'il témoigne du professionnalisme de votre entreprise. Voilà pourquoi le développement de votre site web nécessite un travail en amont, pour bien cerner l'univers de votre structure et l’image que vous souhaitez défendre.
      Bien vous comprendre pour mieux <strong>vous servir</strong>.
    </p>
    <p>
        Ensemble, nous prendrons donc le temps nécessaire d'analyser vos besoins et de mettre en place des <strong>outils d'analyses</strong> qui vous aideront à prendre les bonnes décisions. Parce votre entreprise est unique, votre site internet doit l'être également.
        En me confiant la création de <strong>votre site internet</strong>, vous aurez donc l'assurance d'un véritable support de communication qui vous aidera à booster la réputation de votre entreprise.
    </p>
    <p>J'interviens sur la sécurité de votre site - son référencement naturel, son hébergement, sa maintenance et son évolution.</p>
    <div class="card-deck">
      <div class="card z-depth-3">
        <div class="card-body">
          
          <div class="card_front">
            <div class="first">
              <h3 class="card-title" id="cogs_title">Création</h3>
            </div>
            <div class="second">
              <h5><span id="cogs"><i class="fas fa-cogs fa-5x"></i></span></h5>
            </div>
          </div>

          <div class="card_back">
            <h5 class="card-title-back">Création de site internet</h5>
            <hr class="my-1">
            <p class="card-text">Quelque soit l'activité que vous avez, avoir un site internet est indispensable car vos concurrents y sont. Et, vous toucherez plus de gens avec !</p>
            <p class="card-text">Si vous n'avez pas d'idée ou ne savez pas comment cela fonctionne, rassurez-vous je vous conseille et vous accompagne.</p>
            <p class="card-text">Je vous fais bénéficier de mes conseils pratiques et tecchniques de professionnel du web pour répondre à vos besoins et attentes.</p>
          </div>
          
        </div>
      </div>
      <div class="card z-depth-3">
        <div class="card-body">

          <div class="card_front">
            <div class="first">
              <h3 class="card-title">Refonte de votre site internet</h3>
            </div>
            <div class="second">
                <h5><span><i class="fas fa-paint-roller fa-5x"></i></span></h5>
            </div>
          </div>
          <div class="card_back">
            <h5 class="card-title-back">Refonte de votre site internet</h5>
            <hr class="my-1">
            <p class="card-text">Quelque soit votre site internet (site vitrine, site e-commerce ou même blog), je le remet au goût du jour avec les nouvelles technologies et fonctionnalités. C'est un véritable coup de jeune ! </p>
            <p class="card-text">Montrez votre professionnalisme grâce à un site de qualité, tant dans son apparence que dans sa fiabilité.</p>
          </div>
        </div>
      </div>
      <div class="card z-depth-3">
        <div class="card-body">
          <div class="card_front">
            <div class="first">
              <h3 class="card-title">Optimisation de site internet</h3>
            </div>
            <div class="second">
              <h5><span><i class="fas fa-chart-line fa-5x"></i></span></h5>
            </div>
          </div>
          <div class="card_back">
            <h5 class="card-title-back">Optimisation de site internet</h5>
            <hr class="my-1">
            <p class="card-text">Il peut arriver que votre site ne soit pas visité, qu'il ait été conçu il ya déjà quelques temps. Les technologie web évoluent très vite et nécessite d'être toujours mises à jour. Un site est comme une vitrine, il faut la renouveler ! Et, rendre attrayant son site nécessite une analyse en profondeur pour comprendre les erreurs et les manques. </p>
            <p class="card-text">Si votre site internet connait des lenteurs, des erreurs d'affichages ou tout autre problème, je peux réparer ça ! </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

