.container
{
    position: relative;
    margin: 5%;
    height: 100%;
    background: rgba(170, 168, 168, 0.301);
    color: rgba(255, 255, 255, 0.973);
    font-family: 'Lobster','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 8px;
}
