<div class="jumbotron">
  <div class="container">
      <img src="assets/img/profil.png" alt="Ma photo de profil">
    <div class="text-right view overlay zoom" id="myFace">
    </div>

    <div class="row justify-content-center">
      <h1 class="display-4">Un freelance passionné</h1>
    </div>
    
    <hr class="my-4">
    <p class="lead">Vivre de ma passion pour la <strong>création de sites internet.</strong></p>
    <p>Cela fait un bon nombre d'années que je suis passionné par le <strong>développement web</strong>. Et, j'ai décidé de vivre de ma passion en me mettant à mon compte.</p>
    <p>Etant moi-même entrepreneur et aussi pour l'avoir été dans une autre vie ;) je connais bien vos priorités et les enjeux d'une entreprise.</p>
    <p>Mes diverses compétences sur les derniers langages de programmations (<strong>PHP</strong>, <strong>Symfony</strong>, <strong>JavaScript</strong>, <strong>Angular</strong>, pour ne parler que des principaux) et sur les parties graphiques et <strong>référencement</strong> (<strong>SEO</strong>), me permettent de vous proposer des <strong>sites web responsive</strong>. C'est-à-dire adaptés aux différentes tailles d'écrans, de leurs conceptions à leurs mises en ligne avec une vraie stratégie de <strong>référencement</strong> sur la toile internet.</p>
    <p>De nos jours, l'internet regorge d'une quantité incroyable de sites web en tous genres. Il est dur de se démarquer des autres sites et apparaître à son avantage dans les moteurs de recherche. </p>
    <p>Je me place dans une démarche qualitative afin de répondre au mieux à vos besoins tout en respectant votre budget.</p>

    <a routerLink="/content/boost" class="lead" id="link_boost">Parlons de votre projet ensemble et trouvons des solutions.</a>
    
    <div class="text-right ">
      <a routerLink="/content/form" class="btn btn-outline-warning btn-lg z-depth-5" role="button"><strong>Contactez moi</strong></a>
    </div>
    
    
  </div>
</div>