<div class="jumbotron">
  <div class="container">

    <div class="row">
      <h1 class="display-4">Un freelance passionné</h1>
      <div class="text-right">
        <img src="assets/img/profil.png" alt="Ma photo de profil">
      </div>
    </div>
    
    <hr class="my-4">
    <p class="lead">Vivre de ma passion pour la <strong>création de sites internet</strong></p>
    <p>Cela fait un bon nombre d'années que je suis passionné par le <strong>développement web</strong>. Et, j'ai décidé de vivre de ma passion en me mettant à mon compte.</p>
    <p>Etant moi-même entrepreneur et aussi pour l'avoir été dans une autre vie ;) ,je connais vos priorités et les enjeux d'une entreprise.</p>
    <p>Mes diverses compétences me permettent de vous proposer des <strong>sites web responsive</strong>; c'est-à-dire adaptés aux différentes tailles d'écrans; de leurs conceptions à leurs mises en ligne.</p>
    <p>Je me place dans une démarche qualitative afin de répondre au mieux à vos besoins tout en respectant votre budget.</p>
    <div class="text-right">
      <a routerLink="/content/form" class="btn btn-outline-warning btn-lg" role="button">Me contacter</a>
    </div>
    
  </div>
</div>