/* You can add global styles to this file, and also import other style files */
// Déclaration Font Lobster
$font_lobster: 'Lobster','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
// Déclaration Font Roboto
$font_roboto: 'Roboto','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
// Déclaration couleur texte
$color_text: rgba(192, 189, 189, 0.8);
